In [1]:
import pandas as pd

# 1.读取部分文件：

In [2]:
df = pd.read_csv("./data/happiness_report.csv",encoding="ANSI")
df

,Country(国家),Region(地区),Happiness Rank(排名),Happiness Score(分数),Economy (经济情况),Year(年份)
0,Afghanistan,Southern Asia,153.0,3.575,0.319820,2015
1,Albania,Central and Eastern Europe,95.0,4.959,0.878670,2015
2,Algeria,Middle East and Northern Africa,68.0,5.605,0.939290,2015
3,Angola,Sub-Saharan Africa,137.0,4.033,0.757780,2015
4,Argentina,Latin America and Caribbean,30.0,6.574,1.053510,2015
...,...,...,...,...,...,...
490,Venezuela,Latin America and Caribbean,82.0,5.250,1.128431,2017
491,Vietnam,Southeastern Asia,94.0,5.074,0.788548,2017
492,Yemen,Middle East and Northern Africa,146.0,3.593,0.591683,2017
493,Zambia,Sub-Saharan Africa,116.0,4.514,0.636407,2017
494,Zimbabwe,Sub-Saharan Africa,138.0,3.875,0.375847,2017

#### 读取少量行，指定nrows 参数

In [3]:
df = pd.read_csv("./data/happiness_report.csv",encoding="ANSI",nrows=5)
df

,Country(国家),Region(地区),Happiness Rank(排名),Happiness Score(分数),Economy (经济情况),Year(年份)
0,Afghanistan,Southern Asia,153,3.575,0.31982,2015
1,Albania,Central and Eastern Europe,95,4.959,0.87867,2015
2,Algeria,Middle East and Northern Africa,68,5.605,0.93929,2015
3,Angola,Sub-Saharan Africa,137,4.033,0.75778,2015
4,Argentina,Latin America and Caribbean,30,6.574,1.05351,2015

#### head() 方法

In [4]:
df = pd.read_csv("./data/happiness_report.csv",encoding="ANSI")
df.head()

,Country(国家),Region(地区),Happiness Rank(排名),Happiness Score(分数),Economy (经济情况),Year(年份)
0,Afghanistan,Southern Asia,153.0,3.575,0.31982,2015
1,Albania,Central and Eastern Europe,95.0,4.959,0.87867,2015
2,Algeria,Middle East and Northern Africa,68.0,5.605,0.93929,2015
3,Angola,Sub-Saharan Africa,137.0,4.033,0.75778,2015
4,Argentina,Latin America and Caribbean,30.0,6.574,1.05351,2015

#### tail() 方法

In [5]:
df = pd.read_csv("./data/happiness_report.csv",encoding="ANSI")
df.tail()

,Country(国家),Region(地区),Happiness Rank(排名),Happiness Score(分数),Economy (经济情况),Year(年份)
490,Venezuela,Latin America and Caribbean,82.0,5.250,1.128431,2017
491,Vietnam,Southeastern Asia,94.0,5.074,0.788548,2017
492,Yemen,Middle East and Northern Africa,146.0,3.593,0.591683,2017
493,Zambia,Sub-Saharan Africa,116.0,4.514,0.636407,2017
494,Zimbabwe,Sub-Saharan Africa,138.0,3.875,0.375847,2017

# 2.分块读取文件：

In [6]:
chunker = pd.read_csv("./data/happiness_report.csv",encoding="ANSI",chunksize=99)

In [7]:
type(chunker)

pandas.io.parsers.readers.TextFileReader

#### TextFileReader 对象允许你根据块大小迭代文件的各个部分

In [8]:
n = 1
for piece in chunker:
    print(n)
    n +=1

1
2
3
4
5